<div class="py-4 mb-2">
  <h3 class="d-inline-block">Transactions</h3>
  <div class="float-right">
    <%= linkTo(newTransactionsPath(), {class: "btn btn-primary"}) { %>
      Create New Transaction
    <% } %>
  </div>
</div>

<table class="table table-hover table-bordered">
  <thead class="thead-light">
    <th>Spent on</th>
    <th>Description</th>
    <th class="text-right">Amount</th>
  </thead>
  <tbody>
    <%= for (transaction) in transactions { %>
      <tr>
        <td class="align-middle">
          <%= linkTo(editTransactionPath({ transaction_id: transaction.ID })) { %>
            <%= transaction.CreatedAt.Format("01/02/2006") %>
          <% } %>
        </td>
        <td class="align-middle">
          <%= transaction.Description %>
          <br/>
          <i>&mdash; <%= displayName(transaction.Spender) %></i>
        </td>
        <td class="align-middle text-right"><%= asCurrency(transaction.Amount) %></td>
      </tr>
    <% } %>
  </tbody>
  <tfoot>
    <th></th>
    <th></th>
    <th class="text-right"><%= asCurrency(totalAmount) %></th>
  </tfoot>
</table>
